html{
    background-color: dimgray;
}

body {
    font-family: "Oswald", sans-serif;
    color: white;
    background-color: black;
    padding: 30px;
    margin: 0 4%;
}

h1 {
    text-align: right;
    font-size: 60px; 
}

h2 {
    color: #406A9C;
}

strong {
    color: #ffb310;
}

em {
    color: lightblue
}

.personal-info {
    background-color: #000d1a;
    padding: 2% 3%;
}

.photo {
    border-radius: 100%;
    border-color: deepskyblue;
    margin-top: -15px;
    border-width:medium;
    height: 250px;
    width: 250px;
    float: right;
}

.info-blocks {
    background-color: black;
    color: white;
}
