body {
    font-family: "Oswald", sans-serif;
    color: white;
    background-color: black;
    padding: 30px;
}

h2 {
    color: #406A9C;
}

strong {
    color: #ffb310;
}

.info-box {
    padding: 1px;
}

.personal-info {
    background-color: #000d1a;
}

.info-blocks {
    background-color: black;
    color: white;
}
